{% extends 'base.twig' %}

{% set title=sessionuser %}

{% block body %}

<h2>{{sessionuser}}'s activity</h2>
<div class="row text-center">
    <div class="col-md-4">
        <h3>{{sessionuser}}'s recent flips</h3>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Date and Time</th>
                <th>Face</th>
            </tr>
            {% for recentFlipResult in recentFlipResult %}
                <tr>
                    <td>{{ recentFlipResult['time_flipped'] }}.{{ recentFlipResult['miliseconds'] }}</td>
                    <td>{{ recentFlipResult['face_name'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4">
        <h3>{{sessionuser}}'s recent streaks</h3>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Date and Time Started</th>
                <th>Length</th>
                <th>Face</th>
            </tr>
            {% for recentStreakResult in recentStreakResult %}
            <tr>
                <td>{{ recentStreakResult['time_flipped'] }}.{{ recentStreakResult['miliseconds'] }}</td>
                <td>{{ recentStreakResult['length'] }}</td>
                <td>{{ recentStreakResult['face_name'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4">
        <h3>{{sessionuser}}'s best streaks</h3>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Length</th>
                <th>Face</th>
            </tr>
            {% for bestStreakResult in bestStreakResult %}
            <tr>
                <td>{{ bestStreakResult['length'] }}</td>
                <td>{{ bestStreakResult['face_name'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock body %}
